---
export interface Props {
  title: string;
  items: { icon: any; name: string }[];
}

const {title, items} = Astro.props;
---
<div class="bg-white/5 border border-royalblue m-5 rounded-lg p-6 w-full h-auto">
    <h2 class="text-center text-3xl font-semibold mb-4 shadow-royalblue">{title}</h2>
    <div class="flex flex-wrap justify-center gap-3 items-center">
      {items.map(({ icon: Icon, name }) => (
        <div class="flex flex-col justify-center items-center gap-4 m-3">
          <Icon class="size-6 md:size-16 px-1" />
          <span>{name}</span>
        </div>
      ))}
    </div>
  </div>

  